<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"><test thread-count="2" parallel= "false" name="testcases">
      <classes>
      <class name="testcases.AS1_DannonASSN"/>
       <class name="testcases.AS1_DannonRCV"/>
        <class name="testcases.AS1_DannonShipping"/>
      </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
